@model MyBank.Models.Entity.Customer
@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/ConsultantLayout.cshtml";
}

@using (Html.BeginForm("EditCustomer", "Admin", FormMethod.Post))
{
    <div style="margin-top:15px" class="form-group">
        @Html.HiddenFor(c => c.ID)
        <label style="margin-top:15px">First Name</label>
        @Html.TextBoxFor(c => c.FName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FName, "", new { @style = "color:red" })
        <label style="margin-top:15px">Last Name</label>
        @Html.TextBoxFor(c => c.LName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LName, "", new { @style = "color:red" })
        <label style="margin-top:15px">From</label>
        @Html.TextBoxFor(c => c.FromCountry, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FromCountry, "", new { @style = "color:red" })
        <label style="margin-top:15px">Email</label>
        @Html.TextBox("Email",Model.Email.Trim(), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
        <label style="margin-top:15px">Phone</label>
        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Phone, "", new { @style = "color:red" })
        <label style="margin-top:15px">Consultant </label>
        @Html.DropDownListFor(c => c.ConsltID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <label style="margin-top:15px">Deposit</label>
        @Html.TextBoxFor(c => c.Deposit.Cash, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Deposit.Cash, "", new { @style = "color:red" })
        <label style="margin-top:15px">Deposit Currency</label>
        @Html.TextBoxFor(c => c.Deposit.Currency, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Deposit.Currency, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:30px">
        <button class="btn-info" id="Btn1">Edit Customer</button>
    </div>
}

